<!DOCTYPE html>
<html lang="en">

<head>
    <title>Note to Frequency Converter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            color: green;
        }

        img {
            height: 1em;
        }

        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h1>Note Duration Calculator</h1>
    {%- if notes %}
    <br>
    <h3>Note durations in miliseconds at {{ bpm}} bpm (1 beat = <img src="static/images/8th_note.png">{{ "" if sig_base == 4 else "˙" }}):</h3>
    <table>
        <tbody>
            <tr>
            {%- for note in notes.keys() %}
                <td>{{ note }}</td>
            {%- endfor %}
            </tr>
            <tr>
            {%- for duration in notes.values() %}
                <td>{{ '%0.2f' | format(duration*1000) }}</td>
            {%- endfor %}
            </tr>
        </tbody>
    </table>
    <br>
    <p>Try another one:</p>
    {%- endif %}

    {%- block content %}
    <form method="post">
        <div>
            <label for="bpm">Tempo (beats per minute):</label>
            <input type="number" name="bpm" id="bpm" step="0.001"
                   placeholder="{{ bpm }}" min="1" max="500" value="{{ bpm }}" required>
        </div>
        <div>
            Beat Base:&nbsp;
            <input type="radio" id="4" name="sig_base" value="4"{{ " checked" if sig_base == 4 else "" }}>
            <label for="4"><img src="static/images/8th_note.png"></label>
            <input type="radio" id="8" name="sig_base" value="8"{{ " checked" if sig_base == 8 else "" }}>
            <label for="8"><img src="static/images/8th_note.png">•</label>
        </div>
        <input type="submit" value="Calculate">
    </form>
    {%- endblock %}

</body>

</html>
