<!DOCTYPE html>
<html lang="en">

    <head>
        <title>producer's alcove_ : {{ page_data.display }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <style>
            .button-container {
                text-align: center;
                top: 250px;
                position: relative;
            }
        </style>
    </head>

    <body>
        <div class="page-container">
            {%- from "page_header.j2" import page_header as ph %}
            {{ ph(page_data) }}
            <div class="button-container">
            {%- for page in page_data.dropmenu_items %}
                <button class="button" onclick="window.location.href='{{ url_for(page.path|replace('/', '')) }}' ;">{{ page.subtitle }}</button>
            {%- endfor%}
            </div>
        </div>
    </body>
</html>
