<!DOCTYPE html>
<html lang="en">

<head>
    <title>Note to Frequency Converter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            color: green;
        }

        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h1>Note to Frequency Calculator</h1>
    {%- if freq != -1 %}
    <br>
    <h3>Frequency of {{ note }} in {{ intonation }}:</h3>
    <h3>{{ freq }} Hz</h3>
    <br>
    <p>Try another one:</p>
    {%- endif %}

    {%- block content %}
      <form method="post">
          <div>
            <label for="base_freq">Tuning reference frequency (Hz):</label>
            <input type="number" name="base_freq" id="base_freq" step="0.1"
                   placeholder="{{ base_freq }}" min="400" max="450" value="{{ base_freq }}" required>
          </div>
          <div>
              <label for="intonation">Intonation: </label>
        <select id="intonation" name="intonation">
            {%- for val, title in all_intonations.items() %}
            <option value="{{ val }}" >{{ title.title() }}</option>
            {%-endfor %}
        </select>
              </div>
          <div>
        <label for="note">Note: </label>
        <select id="note" name="note">
            {%- for _note in all_notes %}
                {%- set selected_str = "" %}
                {%- if _note == note %}
                    {%- set selected_str = " selected" %}
                {%- endif %}
            <option value="{{ _note }}"{{ selected_str }}>{{ _note }}</option>
            {%-endfor %}
        </select>
              </div>
        <input type="submit" value="Calculate">
      </form>
    {%- endblock %}

</body>

</html>
