<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <title>Shortcut Search</title>
    <style>
        form {
            text-align: center;
        }
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        tbody tr:nth-child(odd) {
          background-color: #fffaf0;
          color: #000;
        }

        tbody tr:nth-child(even) {
          background-color: #dcdcdc;
          color: #000;
        }

        th {
            background-color: black;
            color: #dddddd;
        }

        /* easter egg */
        .popup {
          position: relative;
          display: inline-block;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        /* The actual popup */
        .popup .easterEgg {
          visibility: hidden;
          width: 300px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 8px 0;
          position: absolute;
          z-index: 1;
          top: 30px;
          left: 50%;
          margin-left: -80px;
        }

        /* Toggle this class - hide and show the popup */
        .popup .show {
          visibility: visible;
          -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
        }

        /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
          from {opacity: 0;}
          to {opacity: 1;}
        }

        @keyframes fadeIn {
          from {opacity: 0;}
          to {opacity:1 ;}
        }
    </style>
</head>
    <body>
        <form>
            <div onclick="easterEgg();" class="popup">
            <input id="searchtext" type="text" placeholder="Type text to search in description">
            <span class="easterEgg" id="easterEggPopup"><img src="/static/images/heisenberg.png" width="100%"></span></div>
            <input id="searchelems" type="text" placeholder="Press shortcut keys">
            <input type="button" id="searchkeyreset" value="Reset Key Search">
            <br><input type="reset" id="fullreset" value="Reset Full Search">
        </form>
        <p></p>
        <div id="searchDisplay" align="center">
            <div>Current search keys: </div><div id="searchDisplayString"></div>
        </div>
        <table>
            <tr>
                <th>Description</th>
                <th>Mac</th>
                <th>Windows</th>
            </tr>
            <tbody id="sctable">
            {%- for sc in shortcuts %}
                {%- set display_sc = {'mac': '', 'windows': ''} %}
                {%- for _os in display_sc.keys() %}
                    {%- set modkey_str = ' <small>+</small> '.join(sc[_os].get('mod', [])) %}
                    {%- set char_str = ' or '.join(sc[_os].get('chars', [])) %}
                    {%- if modkey_str and char_str %}
                        {%- set _ = display_sc.__setitem__(_os, ' <small>+</small> '.join([modkey_str, char_str]))|safe %}
                    {%- else %}
                        {%- set _ = display_sc.__setitem__(_os, ''.join([modkey_str, char_str])) %}
                    {%- endif %}
                {%- endfor %}
                <tr>
                    <td>{{ sc['description'] }}</td>
                    <td>{{ display_sc['mac']|safe }}</td>
                    <td>{{ display_sc['windows']|safe }}</td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </body>

    <script>
        getIP();
        const modKeyMap = JSON.parse('{{ mod_key_map|tojson }}');
        let scIndexData = [];
        fetch('{{ url_for("sc_index") }}')
        .then((response) => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then((data) => {
            /* scIndexData structure: [
                  [character, [indices in table where the character is part of the shortcut]],
                  [string representation of modifier key, [indices in table where the key is part of the shortcut]],
                  ...,
              ]
             character: a "typeable" character: letter, comma, number, etc...
             modifier key: control, shift, Esc, etc... */
            scIndexData = Object.entries(data.mac); // TODO: hardcoded for Mac, add filter by windows
        })
        .catch(error => console.error('Failed to fetch data:', error));

        let displayElemIndex = 0;
        let show = true;
        let scDescription = '';
        let searchElemsUnique = [];
        let searchText =  '';
        let rowsToShowKeys = [];  // rows to show if user has searched for shortcut keys
        let rowsToShowText = [];  // rows to show if user has searched for shortcut description
        $(document).ready(function () {
            $("#searchtext").on("keyup", function () {
                rowsToShowText = [];
                displayElemIndex = 0;
                searchText = $.trim($("#searchtext").val()).toLowerCase()
                $("#sctable tr").each(function (index) {
                    let allowedByKeySearch = true;
                    if (searchElemsUnique.length > 0) {
                        allowedByKeySearch = rowsToShowKeys.indexOf(index) !== -1;
                    }
                    scDescription = $(this).find("td:first").html().toLowerCase()
                    show = allowedByKeySearch && scDescription.indexOf(searchText) !== -1;
                    $(this).toggle(show);
                    if (!show) { return };
                    /* this should be done by setting the class instead of directly
                       updating CSS but couldn't get it to work properly */
                    if (displayElemIndex % 2 === 0) {
                        $(this).css('background-color', '#dcdcdc');
                    } else {
                        $(this).css('background-color', '#fffaf0');
                    };
                    displayElemIndex++;
                    rowsToShowText.push(index)
                });
            });

            $("#searchelems").on("keyup", function (event) {
                rowsToShowKeys = [];
                let nonCharKey = '';
                //console.log('keycode pressed')
                //console.log(event.keyCode)
                // let selectedColumn = $("#columnSelect").val();  // TODO filter display/search by OS
                let searchElems = $("#searchelems").val().toLowerCase().split("")
                switch (event.keyCode) {
                    {%- for key, data in mod_key_map['mac'].items() %}
                    case {{ data['keycode'] }}:
                        nonCharKey = '{{ key }}';
                        break;
                    {%- endfor %}
                }
                searchElemsUnique.push(...searchElems);
                if (nonCharKey.length !== 0) {
                    searchElemsUnique.push(nonCharKey)
                }

                searchElemsUnique = Array.from(new Set(searchElemsUnique));

                let searchDisplayElems = searchElemsUnique.map((el) =>
                    el in modKeyMap.mac ? modKeyMap.mac[el].ui_char : el.toUpperCase()
                );

                $("#searchDisplayString").text(searchDisplayElems.join(" "));

                let rowsToShowInit = false;
                let shouldBreak = false;
                let searchElemFound = false;
                for (let iSE in searchElemsUnique) {
                    searchElemFound = false;
                    for (let iIE in scIndexData) {
                        if (searchElemsUnique[iSE] !== scIndexData[iIE][0]) continue;
                        searchElemFound = true;
                        if (!rowsToShowInit) {
                            rowsToShowKeys = scIndexData[iIE][1];
                            rowsToShowInit = true;
                            continue; // skip filter if it's the first match
                        }
                        rowsToShowKeys = rowsToShowKeys.filter((el) => scIndexData[iIE][1].includes(el))
                        if (rowsToShowKeys.length === 0 && rowsToShowInit) {
                            // just stop if the current search combination is already returning no results
                            shouldBreak = true;
                            break
                        }
                    }
                    if (!searchElemFound) {
                        /* if the current search element was not found in db then by definition
                           the combination can't match any commands */
                        rowsToShowKeys = [];
                        break;
                    }
                    if (shouldBreak) {
                        break
                    }
                }

                displayElemIndex = 0;
                $("#sctable tr").each(function (index) {
                    searchText = $.trim($("#searchtext").val()).toLowerCase()
                    let allowedByTextSearch = true;
                    if (searchText.length > 0) {
                        allowedByTextSearch = rowsToShowText.indexOf(index) !== -1;
                    }
                    show = (rowsToShowKeys.includes(index) || searchElemsUnique.length === 0) && allowedByTextSearch;
                    $(this).toggle(show);
                    if (!show) { return };
                    /* this should be done by setting the class instead of directly
                       updating CSS but couldn't get it to work properly */
                    if (displayElemIndex % 2 === 0) {
                        $(this).css('background-color', '#dcdcdc');
                    } else {
                        $(this).css('background-color', '#fffaf0');
                    };
                    displayElemIndex++;
                });
            });

            $("#searchkeyreset").click(function () {
                displayElemIndex = 0;
                searchElemsUnique = [];
                rowsToShowKeys = [];
                $("#searchDisplayString").text("");
                $("#searchelems").val("")
                $("#sctable tr").each(function (index) {
                    show = rowsToShowText.indexOf(index) !== -1 || searchText.length === 0;
                    $(this).toggle(show);
                    if (show) {
                        if (displayElemIndex % 2 === 0) {
                            $(this).css('background-color', '#dcdcdc');
                        } else {
                            $(this).css('background-color', '#fffaf0');
                        };
                        displayElemIndex++;
                    };
                });
            });

            $("#fullreset").click(function () {
                searchElemsUnique = [];
                rowsToShowKeys = [];
                rowsToShowText = [];
                $("#searchDisplayString").text("");
                $("#sctable tr").each(function (index) {
                    $(this).toggle(true);
                    if (index % 2 === 0) {
                        $(this).css('background-color', '#dcdcdc');
                    } else {
                        $(this).css('background-color', '#fffaf0');
                    };
                });
            });
        })
    </script>
</html>